# Data Science Tools & Ecosystem

### Introduction: In this notebook, Data Science Tools and Ecosystem are summarized.

**Objective:**
* Learn about popular data science language
* Learn about common data science library
* Learn about common data science tools
* Learn about basic arithmetic operation in notebook
* Convert minutes to hour

#### Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Scala
4. Java
5. C++

#### Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Numpy
3. scikit-learn
4. Pytorch
5. TensorFlow

<table>
    <th>Data Science Tools</th>
    <tr><td>Jupyter Notebook</td></tr>
    <tr><td>Jupyter Lab</td></tr>
    <tr><td>Apache Zeppelin </td></tr>
</table>

### Below are a few examples of evaluating arithmetic expressions in Python

In [8]:
# This a simple arithmetic expression to mutiply then add integer
(3*4)+5

17

In [9]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author:
Abul Hasnat